<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">
    This site is dedicated to Education and Agile Mindsets.
    <br>
    <ul>
      <li><a href="/edgility"><b>LAS' Edgility</b></a> - </i>Educational
        Agility efforts</i></li>
      <li>LAS' <a href="/maker">MS Maker</a> Curriculum</li>
      <li>LAS' <a href="/maker">Grow Smart</a> (STEM) Curriculum - Integration
        of Biological Science, Design, Electronics</li>
      <li><b>Grow Smart Teacher's Workshops:</b> Robot Gardner (STEM) Beginner's
        Workshop, Robot Gardener Engineering Workshop, Robot Gardener Design
        Workshop</li>
      <li>Other <a href="/">Educational Agility</a> Efforts and Collaborators:
        <dl>
          <dt>Schools:</dt>
          <dd>LAS, Agora Roermond, Blueprint Education, Agile Learning Centers</dd>
          <dt>Training Organizations:</dt>
          <dd>EduScrum, ScrumAtSchools, Agile Classrooms, Agility in Education,
            Srum in Schools, Adaptive Learning</dd>
        </dl>
      </li>
    </ul>

    <br>
  </div>
</div>
