<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">
    <h4>
      LAS' Middle School focuses on several important student skills
      which has introduce Agility concepts in Education.
    </h4>

    <h3>LAS' Middle School Student Skills Goals</h3>
    <ul>
      <li><b>Self-Regulated Learning:</b> Self-Motivated and Self-Paced
        Learning</li>
      <li><b>Growth Mindset:</b> Learners with grit to learn even after
        set-backs and students the skills to problem solve in order to see a
        way forward</li>
      <li><b>Collaboration:</b> between students and between teachers and
        students</li>
      <li><b>Life-Long Learners:</b> students and teachers learn to enjoy
        learning and to realize there is always more to learn and discover
        (and in our quickly changing world-this is a way to remain relevant)</li>
    </ul>
    <h3>Agile Consequences Student Skills Goals</h3>
    <ul>
      <li><b>Pulling Work:</b> students pull new learning tasks when the
        current learning task has been mastered and the student is ready</li>
      <li><b>Transparency and Kanban:</b> allows us:
        * help the students understand the bigger PURPOSE and the learning expecatations
        * teachers track individual student progress as they work at their own pace
        * provide options for the students to AUTONOMOUSLY choose what to learn next
      </li>
      <li><b>Reflection:</b> Students learn to use feedback and demos as a
        way to think about and learn how to adjust and improve</li>
      <li><b>Iterative:</b> In order to support the growth mindset - students
        DO NOT FAIL after a single submission -- the work is compared to the
        expecations and if needed the student will reflect on how to improve and
        re-submit the work
      </li>
      <li><b>Problem Solving:</b> students learn to problem solve and research
        solutions independently
      </li>
      <li><b>Design:</b> students learn start with vaguely defined projects
        and use research, curriosity and problem solving to solve complicated,
        creative projeects
      </li>
    </ul>
    <h4>NOTE:</h4>
    <p><b>Daniel Pink's</b> book <b><i>Drive</i></b> - suggests that self-motivation
      needs the following environment:
      <ul>
        <li>autonomy</li>
        <li>mastery</li>
        <li>purpose</li>
      </ul>
    </p>
  </div>
</div>
