<div class="panel-heading">
  <h3 class="panel-title"><%= controller_name.upcase %> Outline</h3>
</div>
<div class="panel-body">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseA">
        A. Introduction and Purpose
      </h4>
    </div>
    <div id="collapseA"
      class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop">Workshop Introduction</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseB">
        B. Instructions and Workflow
      </h4>
    </div>
    <div id="collapseB"
      class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li><a href="/workshop/workflow">CLASS WORKFLOW</a></li>
            <ul>
              <li>Pre-Test</li>
              <li>Problem Solving</li>
              <li>Task Review</li>
              <li>Work / Learn</li>
              <li>Post-Test</li>
              <li>Feedback Please!</li>
            </ul>
          <li><a href="/workshop/workflow">USING THE KANBAN</a></li>
          <li><a href="/workshop/workflow">PROBLEM SOLVING PATH</a></li>
        </ul>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseC">
        C. Tasks
      </h4>
    </div>
    <div id="collapseC"
      class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/tasks">Task List</a>
        <ol>
          <li>List what plants need to grow</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseD">
        D. Plant Biology
      </h4>
    </div>
    <div id="collapseD"
      class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>List what plants need to grow</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseE">
        E. Software
      </h4>
    </div>
    <div id="collapseE"
      class="panel-collapse collapse">
      <div class="panel-body">
        <p class="text-danger"><b>ALWAYS DELETE ALL CODE IN THE ARDUINO SOFTWARE -- including {} -- BEFORE COPYING IN NEW CODE</b></p>
        <br>
        <ol>
          <li><b>CONFIGURE:</b> your software environment</li>
            <ul>
              <li>Download the Arduino software from <a href="https://www.arduino.cc/en/Main/Software">Arduino.cc</a></li>
              <li>Plug the Arduino into your computer</li>
              <li>Start and configure the software - be sure it can see the arduino</li>
            </ul>
          <li><b>TEST:</b> <b>test_blink</b> software (link to github) to the arduino and be sure the Arduino's built-in LED blinks</li>
            <ul>
              <li>verify the LED on for 2 seconds and off 1 second</li>
              <li>verify using the serial communication you can see the print out of when the Arduino thinks the LED is ON and OFF</li>
              <li>ADVANCED OPTION: change the speed to the serial communication in your software, upload your updated software and observe the Arduino print statements</li>
            </ul>
          <li><b>ADJUST:</b> change the LED on time to 4 seconds ON and 2 seconds OFF</li>
          <li><b>VERIFY KNOWLEDGE:</b></li>
            <ul>
              <li>what does the symbol "=" do?</li>
              <li>what code reads a pin?</li>
              <li>what code outputs to a pin?</li>
              <li>what does setup() do?</li>
              <li>what does loop() do?</li>
              <li>why is it useful to assign pin numbers to variable?</li>
              <li>what is serial communication?</li>
              <li>what does print do?</li>
              <li>what does println do?</li>
              <li>how can you view Arduino print statements?</li>
              <li>how can print statements help you understand and debug Arduino code?</li>
            </ul>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseF">
        F. Hardware
      </h4>
    </div>
    <div id="collapseF"
      class="panel-collapse collapse">
      <div class="panel-body">
        <p class="text-danger"><b>ALWAYS UNPLUG THE ARDUINO WHEN WIRING -- for both your and the Arduino's safety</b></p>
        <b>THEROMETER</b>
        <ol>
          <li><b>WIRING:</b> Using the circuit diagram add the thermometer</li>
          <li><b>TEST:</b> the Arduino can read the thermometer (and changes) by the Arduino by using the <b>test_themometer</b> (link to github) software</li>
            <ul>
              <li><i>(if the fan is attached it is ok if it running)</i></li>
              <li>Open the serial communication interface and be sure the temperature changes as you hold the thermometer</li>
            </ul>
          <li><b>FAIL TEST:</b> - Move the thermometer to <b>pin A3</b> and verify that you no longer get meaningful temperature readings</li>
          <li><b>ADJUST:</b> test your coding skills
            <ul>
              <li>adjust the code so the Arduino can read the thermometer again</li>
            </ul>
          <li><b>VERIFY KNOWLEDGE:</b></li>
            <ul>
              <li>what is voltage?</li>
              <li>what is a variable?</li>
              <li>what is a float variable?</li>
              <li>what is an integer variable?</li>
              <li>what does pin input mode mean?</li>
              <li>what do the analog pins measure?</li>
              <li>why is 1 / 2 equal to 0 in arduino code?</li>
              <li>why is 1.0 / 2.0 equal to 0.5 in arduino code?</li>
              <li>what does a analog mean (how is that different than digital)?</li>
              <li>what device (chip set) does Arduino make analog measurements useful to an Arduino -- why is this necessary?</li>
            </ul>
        </ol>
        <b>FAN (and relay) - advanced</b>
        <ol>
          <li><b>WIRING:</b> Using the circuit diagram add the fan using -- controlled via the relay</li>
          <li><b>TEST:</b>  the fan can be controled by the arduino -- upload the <b>test_fan_control</b> (link to github) software</li></li>
            <ul>
              <li>the fan should run for 10 seconds and be off for 5 seconds</li>
              <li>Open the serial communication interface and be sure the "FAN ON" and "FAN OFF" messages are in sync with the fan's activity</li>
            </ul>
          <li><b>FAILSAFE TEST:</b> be sure the fan runs continiously in failure conditions:
            <ul>
              <li>even when detached from the arduino</li>
              <li>Move the relay controlling the fan to <b>pin 9</b></li>
            </ul>
          <li><b>ADJUST:</b> test your coding skills
            <ul>
              <li>Adjust your code so the Arduino can control the fan using <b>pin 9</b></li>
              <li>Change the fan timing to be <b>ON</b> for 6 seconds and <b>OFF</b> for 3 seconds</li>
            </ul>
            <li><b>VERIFY KNOWLEDGE:</b></li>
            <ul>
              <li>what is current?</li>
              <li>what can a digital pin output?</li>
              <li>what does pin output mode mean?</li>
              <li>How much current can this fan handle?</li>
              <li>How much voltage can this fan handle?</li>
              <li>How much current can this relay deliver?</li>
              <li>How much voltage can this relay deliver?</li>
              <li>How much current can the Arduino deliver?</li>
              <li>How much voltage can the Arduino deliver?</li>
              <li>explain why a relay is helpful in this case?</li>
            </ul>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseG">
        G. Integration
      </h4>
    </div>
    <div id="collapseG"
      class="panel-collapse collapse">
      <div class="panel-body">
        Ideally in this phase your robot would actually keep a plant alive
        <ol>
          <li><b>UPLOAD:</b> <b>temperature_controlled_fan</b> software (link to github) and verify the fan turns on at and above 27.0 *C</li>
          <li><b>ADJUST:</b> the fan trigger temperature to 26.5 *C and verify it works as expected</li>
          <li><b>VERIFY KNOWLEDGE:</b> you know and understand the Arduino software rules:</li>
            <ul>
              <li>what does setup() do?</li>
              <li>what does loop() do?</li>
              <li>what is a block of code?</li>
              <li>what code structure is used to make decisions?</li>
              <li>what symbol indicates the begining of a block of code?</li>
              <li>what symbol indicates the end of a block of code?</li>
              <li>what are the three main blocks of code used in <b>temperature_controlled_fan</b> software?</li>
            </ul>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseH">
        H. Engineering and Design
      </h4>
    </div>
    <div id="collapseH"
      class="panel-collapse collapse">
      <div class="panel-body">
        <i>This would normally be done at the beginning and through out the creation process (however we don't have time today)</i>
        <br>
        Assume you need to control ligting for two different plants (a woodland low light plant and a light loving vegtable)
        <ol>
          <li>test the various light sensors provided</li>
          <li>determine which light sensor would be best for the woodland plant</li>
          <li>determine which light sensor would be best for the light loving vegtable plant</li>
          <li>pick a plant type and attach the light fixture to the greenhouse in order to provide the lighting the plant requires</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseI">
        I. In Your Own Classrooom
      </h4>
    </div>
    <div id="collapseI"
      class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>Find our parts list (and aquire the parts)</li>
          <li>Find our lesson plans <a href="/gardener">Robot Gardener</a></li>
          <li>Be sure your computer is setup to work with the Arduino</li>
          <li>Be sure you know our contact and hopefully others in this class to collaborate and help</li>
        </ul>
      </div>
    </div>

  </div>


</div>
