<div class="panel-heading">
  <h3 class="panel-title"><%= controller_name.upcase %> Outline</h3>
</div>
<div class="panel-body">

  <div class="panel panel-default">

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseA">
        A. Introduction and Purpose
      </h4>
    </div>
    <div id="collapseA"
      class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop">Workshop Introduction</a>
        <br>
        <br>
        <ul>
          <li>Educational Lesson Goals</li>
          <li>What YOU will learn (hopefully)</li>
        </ul>

      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseB">
        B. Instructions and Workflow
      </h4>
    </div>
    <div id="collapseB"
      class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/instructions">Instruction Details</a>
        <br>
        <br>
        <ul>
          <li>USING KANBAN</a></li>
          <li>PROBLEM SOLVING PATH</a></li>
          <li>CLASS WORKFLOW</a></li>
            <ul>
              <li>Pre-Test</li>
              <li>Task Review / Planning</li>
              <li>Pull Tasks and Learn</li>
              <li>Post-Test</li>
              <li>Feedback Please!</li>
            </ul>
        </ul>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseC">
        C. Pre-Test
      </h4>
    </div>
    <div id="collapseC"
      class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>Take the Pre-test (link)</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseD">
        D. To-Do List
      </h4>
    </div>
    <div id="collapseD"
      class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/tasks">Task List</a>
        <br>
        <br>
        <ol>
          <li>List what plants need to grow</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseE">
        E. Plant Biology
      </h4>
    </div>
    <div id="collapseE"
      class="panel-collapse collapse">
      <div class="panel-body">
        <ol>
          <li>List what plants need to grow</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseF">
        F. Software
      </h4>
    </div>
    <div id="collapseF"
      class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/software">Software</a>
        <br>
        <br>
        <ol>
          <li><b>CONFIGURE:</b> your software environment</li>
          <li><b>TEST:</b> your ability to program the Arduino</li>
          <li><b>ADJUST:</b> your code</li>
          <li><b>VERIFY SOFTWARE KNOWLEDGE:</b> basic software</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseG">
        G. Hardware
      </h4>
    </div>
    <div id="collapseG"
      class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/hardware">Hardware</a>
        <br>
        <br>
        <b>ANALOG (Thermometer)</b>
        <ol>
          <li><b>WIRING:</b> add the thermometer</li>
          <li><b>TEST:</b> that the thermometer works</li>
          <li><b>FAIL TEST:</b> that the thermometer fails</li>
          <li><b>ADJUST:</b> your code (tests your knowledge)
          <li><b>VERIFY ANALOG HARDWARE/SOFTWARE KNOWLEDGE:</b></li>
        </ol>
        <br>
        <b>DIGITAL and HIGH POWER (Fan and Relay)</b>
        <ol>
          <li><b>WIRING:</b> the high power fan</li>
          <li><b>TEST:</b> the fan</li>
          <li><b>FAILSAFE TEST:</b> be sure the fan fails safely</li>
          <li><b>ADJUST:</b> your code (tests your skills)
          <li><b>VERIFY DIGITAL HARDWARE/SOFTWARE KNOWLEDGE:</b></li>
        </ol>
        <br>
        <b><a href="/workshop/hardware#circuit">Circuit Diagram</a></b>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseH">
        H. Integration
      </h4>
    </div>
    <div id="collapseH"
      class="panel-collapse collapse">
      <div class="panel-body">
        Ideally in this phase your robot would actually keep a plant alive
        <ol>
          <li><b>UPLOAD:</b> <b>temperature_controlled_fan</b> software (link to github) and verify the fan turns on at and above 27.0 *C</li>
          <li><b>ADJUST:</b> the fan trigger temperature to 26.5 *C and verify it works as expected</li>
          <li><b>VERIFY INTEGRATION KNOWLEDGE:</b> you know and understand the Arduino software rules:</li>
            <ul>
              <li>what does setup() do?</li>
              <li>what does loop() do?</li>
              <li>what is a block of code?</li>
              <li>what code structure is used to make decisions?</li>
              <li>what symbol indicates the begining of a block of code?</li>
              <li>what symbol indicates the end of a block of code?</li>
              <li>what are the three main blocks of code used in <b>temperature_controlled_fan</b> software?</li>
            </ul>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseI">
        I. Engineering and Design
      </h4>
    </div>
    <div id="collapseI"
      class="panel-collapse collapse">
      <div class="panel-body">
        <i>This would normally be done at the beginning and through out the creation process (however we don't have time today)</i>
        <br>
        Assume you need to control ligting for two different plants (a woodland low light plant and a light loving vegtable)
        <ol>
          <li>test the various light sensors provided</li>
          <li>determine which light sensor would be best for the woodland plant</li>
          <li>determine which light sensor would be best for the light loving vegtable plant</li>
          <li>pick a plant type and attach the light fixture to the greenhouse in order to provide the lighting the plant requires</li>
        </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseJ">
        J. In Your Own Classrooom
      </h4>
    </div>
    <div id="collapseJ"
      class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>Find our parts list (and aquire the parts)</li>
          <li>Find our lesson plans <a href="/gardener">Robot Gardener</a></li>
          <li>Be sure your computer is setup to work with the Arduino</li>
          <li>Be sure you know our contact and hopefully others in this class to collaborate and help</li>
        </ul>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseK">
        K. Post-Test
      </h4>
    </div>
    <div id="collapseK"
      class="panel-collapse collapse">
      <div class="panel-body">
        Try the Post-Test here (link)
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseL">
        L. Feedback
      </h4>
    </div>
    <div id="collapseL"
      class="panel-collapse collapse">
      <div class="panel-body">
        Please give us your feedback and ideas here (link)
      </div>
    </div>

  </div>


</div>
