<div class="panel-heading">
  <h3 class="panel-title"><%= controller_name.upcase %> Outline</h3>
</div>
<div class="panel-body">

  <h4>Orientation</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapse0">
        Intro
      </h4>
    </div>
    <div id="collapse0" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop">Introduction</a>
        <br>
        <br>
        * Workshop Goals
        <br>
        * What YOU Learn
        </ul>

      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseB">
        Kanban
      </h4>
    </div>
    <div id="collapseB" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/workflow">KANBAN</a> - visibility tool
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseA">
        Problem Solving
      </h4>
    </div>
    <div id="collapseA" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/problem_solving">Problem Solving</a> <br>
        <i>(and getting help)</i>
      </div>
    </div>
  </div>

  <h4><a href="/workshop/workflow">Workflow</a></h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseC">
        A. Pre-Survey
      </h4>
    </div>
    <div id="collapseC" class="panel-collapse collapse">
      <div class="panel-body">
        Take the <a href="/workshop/pretest">Pre-test</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseD">
        B. Tasks
      </h4>
    </div>
    <div id="collapseD" class="panel-collapse collapse">
      <div class="panel-body">
        * <b>Write</b> <a href="/workshop/tasks">tasks</a> on post-its
        * Put tasks in <b>TO-DO</b>
      </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapse1">
        C. Plan
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        * State <b>interests</b><br>
        * <b>Plan</b> how to work:<br>
        &nbsp;&nbsp;<i>(in-pairs, individually, etc.)</i>
      </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapse2">
        D. Learning
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <b>New</b> tasks in DOING:<br>
        * learn &amp; enjoy<br>
        * problem solve<br>
        <br>
        <b>Finished</b> tasks in DONE<br>
        * bask in success<br>
        <br>
        <b>Repeat</b> do a new task
      </ol>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseE">
        E. Reflection
      </h4>
    </div>
    <div id="collapseE" class="panel-collapse collapse">
      <div class="panel-body">
        Personal <a href="/workshop/reflection">reflection</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseF">
        F. Post-Survey
      </h4>
    </div>
    <div id="collapseF" class="panel-collapse collapse">
      <div class="panel-body">
        Take the <a href="/workshop/posttest">Post-Test</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseG">
        G. Feedback
      </h4>
    </div>
    <div id="collapseG" class="panel-collapse collapse">
      <div class="panel-body">
        Please provide <a href="/workshop/feedback">feedback</a>
      </div>
    </div>
  </div>

  <h4>Resources</h4>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseH">
        Learning Tips
      </h4>
    </div>
    <div id="collapseH" class="panel-collapse collapse">
      <div class="panel-body">
        * <a href="/workshop/glossary">Glossary</a>
        <br>
        * <a href="/workshop/explanations">Explanations</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseI">
        Learning Details
      </h4>
    </div>
    <div id="collapseI" class="panel-collapse collapse">
      <div class="panel-body">
        * <a href="/workshop/biology">Biology</a>
        <br>
        * <a href="/workshop/software">Software</a>
        <br>
        * <a href="/workshop/thermometer">Thermometer</a>
        <br>
        * <a href="/workshop/fan_relay">Fan &amp; Relay</a>
        <br>
        * <a href="/workshop/integration">Functional Integration</a>
        <br>
        * <a href="/workshop/engineering">Engineering &amp; Design</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseJ">
        Materials Resources
      </h4>
    </div>
    <div id="collapseJ" class="panel-collapse collapse">
      <div class="panel-body">
        Materials <a href="/workshop/classroom">resources</a>
      </div>
    </div>
  </div>

</div>
