<div class="panel-heading">
  <h3 class="panel-title"><%= controller_name.upcase %> Outline</h3>
</div>
<div class="panel-body">
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseA">
        Intro
      </h4>
    </div>
    <div id="collapseA" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop">Introduction</a>
        <br>
        <br>
        * Workshop Goals
        <br>
        * What YOU Learn
        </ul>

      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseB">
        Workflow
      </h4>
    </div>
    <div id="collapseB" class="panel-collapse collapse">
      <div class="panel-body">
        <a href="/workshop/workflow">Workflow</a>
        <br>
        <br>
        * USING KANBAN
        <br>
        * PROBLEM SOLVING
        <br>
        * CLASS WORKFLOW
        <br>
        <ul>
          <li>Pre-Test</li>
          <li>Team Plan</li>
          <li>Learning</li>
          <li>Post-Test</li>
          <li>Feedback</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseC">
        A. Pre-Test
      </h4>
    </div>
    <div id="collapseC" class="panel-collapse collapse">
      <div class="panel-body">
        Take the <a href="/workshop/pretest">Pre-test</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseD">
        B. Tasks
      </h4>
    </div>
    <div id="collapseD" class="panel-collapse collapse">
      <div class="panel-body">
        Write/Plan your <a href="/workshop/list">Learning</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseE">
        C. Post-Test
      </h4>
    </div>
    <div id="collapseE" class="panel-collapse collapse">
      <div class="panel-body">
        Take the <a href="/workshop/posttest">Post-Test</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseF">
        D. Reflection
      </h4>
    </div>
    <div id="collapseF" class="panel-collapse collapse">
      <div class="panel-body">
        Personal <a href="/workshop/reflection">reflection</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseG">
        E. Feedback
      </h4>
    </div>
    <div id="collapseG" class="panel-collapse collapse">
      <div class="panel-body">
        Please provide <a href="/workshop/feedback">feedback</a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseH">
        Learning Tips
      </h4>
    </div>
    <div id="collapseH" class="panel-collapse collapse">
      <div class="panel-body">
        * <a href="/workshop/glossary">Glossary</a>
        <br>
        * <a href="/workshop/explanations">Explanations</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseI">
        Learning Details
      </h4>
    </div>
    <div id="collapseI" class="panel-collapse collapse">
      <div class="panel-body">
        * <a href="/workshop/biology">Biology</a>
        <br>
        * <a href="/workshop/software">Software</a>
        <br>
        * <a href="/workshop/hardware">Hardware / Software</a>
        <br>
        * <a href="/workshop/integration">Functional Integration</a>
        <br>
        * <a href="/workshop/engineering">Engineering &amp; Design</a>
      </div>
    </div>

    <div class="panel-heading">
      <h4 class="panel-title" data-toggle="collapse" data-target="#collapseJ">
        Materials Resources
      </h4>
    </div>
    <div id="collapseJ" class="panel-collapse collapse">
      <div class="panel-body">
        Materials <a href="/workshop/classroom">resources</a>
      </div>
    </div>
  </div>
