<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <form>
      <h4>Biology Tasks</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 1</b>
          <br>
          In label explanation
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 2</b>
          <br>
          after label explanation
        </label>
      </div>

      <br>

      <h4>Software Tasks</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 1</b>
          <br>
          In label explanation
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 2</b>
          <br>
          after label explanation
        </label>
      </div>

      <br>

      <h4>Hardware / Software Tasks</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 1</b>
          <br>
          In label explanation
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 2</b>
          <br>
          after label explanation
        </label>
      </div>

      <br>

      <h4>Functional Integration</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 1</b>
          <br>
          In label explanation
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Step 2</b>
          <br>
          after label explanation
        </label>
      </div>

    </form>

  </div>
</div>
