<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    Write these tasks on Post-Its and put them in the TO-DO section of the KANBAN.
    <br>
    These tasks are linked to details in other sections -- for now just get an overview and do not dive into the details.
    <br>
    <ol>
      <li>Take the Pre-Test -- found here</li>
      <li>UNDERSTAND the PROBLEM SOLVING PATH</li>
      <li>Write and Reivew tasks and put on the KANBAN</li>
      <li>PULL the interesting tasks (and move them along the KANBAN as you progress)</li>
      <li>Before you leave take the post-test -- found here.</li>
      <li>Before you leave please give us suggestions and ideas regarding this workshop</li>
    </ol>

  </div>
</div>
