<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <h4>Biology and Design</h4>
    <ol>
      <li><b>PLANT NEEDS:</b> list 5-10 things plants need</li>
        <ul>
          <li>list the conditions a cactus likes in order to thrive</li>
          <li>list the conditions wheat likes in order to thrive</li>
          <li>list the conditions moss likes in order to thrive</li>
          <li>list the conditions tomatos like in order to thrive</li>
        </ul>
      <li><b>PRIORITIZE:</b> the top 3 plant conditions to control in a greenhouse</li>
      <li><b>ADJUST:</b><li> your list after reasearching (on google)
        <i>(or after conferring with another group)</i></li>
      <li><b>COMPARE:</b> your prioritized list to the teacher's
        <i>(understand any differences)</i></li>
      <li><b>EXPLAIN:</b> each plant need and the reason for its priority standing</li>
    </ol>
    <br>
    <h4>ALTERNATIVELY: <small>also consider</small></h4>
      <p>
        <a href="http://dschool.stanford.edu/redesigningtheater/the-design-thinking-process/">
        <b>Design Thinking</b></a> <i>(espescialy if the project impacts people).</i>
      </p>
      <p>In a nutshell the process outlie is:</p>
    </p>
    <ul>
      <li>Empathize</li>
      <li>Define</li>
      <li>Ideate</li>
      <li>Prototype</li>
      <li>Test</li>
    </ul>

  </div>
</div>
