<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    Write these tasks on Post-Its and put them in the TO-DO section of the KANBAN.
    <br>
    These tasks are linked to details in other sections -- for now just get an overview and do not dive into the details.
    <br>
    <ol>
      <li><b>PLANT NEEDS:</b> list 5-10 things plants need</li>
      <li><b>PRIORITIZE:</b> the top 5 plan peeds (as a team)</li>
      <li><b>ADJUST:</b> your list after reasearching (on google)</li>
      <li><b>COMBINE:</b> your prioritized list with another group</li>
      <li><b>COMPARE:</b> your prioritized list to the teacher's (understand any differences)</li>
      <li><b>EXPLAIN:</b> each plant need and the reason for its priority standing</li>
    </ol>

  </div>
</div>
