<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <ul>
      <li>Find our parts list (and aquire the parts)</li>
      <li>Find our lesson plans <a href="/gardener">Robot Gardener</a></li>
      <li>Be sure your computer is setup to work with the Arduino</li>
      <li>Be sure you know our contact and hopefully others in this class to collaborate and help</li>
    </ul>

  </div>
</div>
