<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <i>This would normally be done at the beginning and through out the creation process (however we don't have time today)</i>
    <br>
    Assume you need to control ligting for two different plants (a woodland low light plant and a light loving vegtable)
    <ol>
      <li>test the various light sensors provided</li>
      <li>determine which light sensor would be best for the woodland plant</li>
      <li>determine which light sensor would be best for the light loving vegtable plant</li>
      <li>pick a plant type and attach the light fixture to the greenhouse in order to provide the lighting the plant requires</li>
    </ol>

  </div>
</div>
