<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <dl>
      <dt>Voltage</dt>
        <dd> - Electrical Potential Engergy</dd>

      <br>

      <dt>Current</dt>
        <dd> - Amount of Energy being delivered</dd>

      <br>

      <dt>Power</dt>
        <dd> - The combination of Voltage and Current (Power = Voltage x Current)</dd>

    </dt>

  </div>
</div>
