<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <h4>Learning Motivation <small>Self-Regulated Learning</small></h4>
    * I learn on my own because I am interested
    * I learn on my own because I should
    * I learn because I want a good grade
    * I learn because I am forced

    <br>

    <h4>When I don't succeed <small>Iterative</small></h4>
    * I want to try again (using a new approach or getting help)
    * I feel the pressure to try again
    * I ask for extra credit
    * I give up and just figure I can't do it

    <br>

    <h4>When learning is hard <small>Growth Mindset</small></h4>
    * I work hard looking for new ways to solve the problem
    * I do research and or ask for help
    * I try to get my teacher to do it for me / give me the answer
    * I give up (and maybe get mad / frustrated or feel dumb)

    <br>

    <h4>Transparency</h4>
    * I know what I need to do to succeed
    * I think I know what I need to do
    * I have no clue how to succeed
    * I have no clue and don't like to show my work

    <br>

    <h4>Collaboration<h4>
      * what behavior we are looking for
      * antithesis behavior


  </div>
</div>
