<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %> - Introduction</h3>
  </div>
  <div class="panel-body">

    <br>
    <b id="goals">Educational Lesson Goals:</b><br>
    <ul>
      <li>Self-Regulated learning within a context</li>
      <li>Individualize paced learning</li>
      <li>On-Demand Learning -- learn as needed to accomplish a goal</li>
      <li>Learn to apply plant biology</li>
      <li>Learn introductory software concepts</li>
      <li>Learn introductory electronics concepts</li>
      <li>Learn introductory engineering and design concerns</li>
    </ul>

    <br>
    <b id="learn">What YOU will learn</b> (hopefully)<br>
    <ul>
      <li>Basic Software</li>
      <li>Basic Electronics</li>
      <li>Basic Plan Biology</li>
      <li>In his workshop will demostrate an alternative teaching methodology</li>
      <li>Ideally at the end of this workshop you will consider using the associated lesson with students</li>
    </ul>

  </div>
</div>
