<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">
    <ol>
      <li><b>WIRING:</b> be sure the equipment is wired as shown in the circuit diagram</li>
      <li><b>TEST:</b> upload <b>temperature_controlled_fan</b> software (link to github) and verify the fan turns on at and above 27.0 *C</li>
      <li><b>FAIL SAFE:</b> the fan trigger temperature to 26.5 *C and verify it works as expected</li>
      <li><b>ADJUST:</b> the fan trigger temperature to 26.5 *C and verify it works as expected</li>
      <br>
      <li><b>VERIFY KNOWLEDGE:</b> you know and understand the Arduino software rules:</li>
        <ul>
          <li>what does setup() do?</li>
          <li>what does loop() do?</li>
          <li>what is a block of code?</li>
          <li>what code structure is used to make decisions?</li>
          <li>what symbol indicates the begining of a block of code?</li>
          <li>what symbol indicates the end of a block of code?</li>
          <li>what are the three main blocks of code used in <b>temperature_controlled_fan</b> software?</li>
        </ul>
    </ol>
    <br>
    <p>Ideally once enough parts of your robot gardener are assembled students
      would actually test their quality to see if their plan is alive after 4
      weeks.  If the group is more advanced you could even see which robot designs
      produced the most growth, best vegtables, etc. and determine why.</p>
    <br>
    <b id="circuit">Circuit Diagram</b>
    <br>
    <img src="http://dummyimage.com/800x1200/eee/fff&amp;text=circuit_diagram" class="img-responsive">

  </div>
</div>
