<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <b id="kanban">USING KANBAN</b><br>
    Provides progress visibility, process reminder, sense of success and independence.
    <p>
    <ul>
      <li>Create tasks on post-its</li>
      <li>Put the post-its in the <b>TO-DO</b> column</li>
      <li>Pull tasks start each task - put it in the <b>DOING</b> column</li>
      <li>If you get stuck put your post-it on the <b>PROBLEM SOLVING PATH</b> and follow the escalation process</li>
      <li>When the task is done -- both functionally and academically -- put the post-it in the <b>READY</b> column</li>
      <li>When the <b>teacher</b> has been able to assess your READINESS the task can go in the <b>DONE</b> or back to the <b>DOING</b> column -- depending on the results of the teacher's review</li>
    </ul>

  </div>
</div>
