<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <b>NOTE:</b> not every task listed in the details is to do in this workshop
    -- but examples of we would have students do (our classes are not limited to
    1.5 hours)
    <br>

    <form>
      <h4>Biology Learning Task <small><a href="/workshop/biology">Details</a></small></h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Plant Needs</b> - list 5-10
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Prioritize</b> top 5 plant needs
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> priority after research
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Compare</b> against the teacher's list<br>
            <i>(discuss and understand any differences -- sorry not today)</i>
        </label>
      </div>

      <br>

      <h4>Software Learning Task <small><a href="/workshop/software">Details</a></small></h4>
      <p class="text-warning">Remove ALL code before copying in new code!</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Configure</b> your environment
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b> your envriornment
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> your test code
        </label>
      </div>

      <br>

      <h4>Thermometer <small><a href="/workshop/thermometer">Details</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the thermometer
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b> the thermometer
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Test</b> the thermometer
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the thermometer
        </label>
      </div>

      <br>

      <h4>Fan &amp; Relay <small><a href="/workshop/fan_relay">Details</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the fan and relay
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b> the fan control
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b> the setup
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan operations
        </label>
      </div>


      <br>

      <h4>Integration <small><a href="/workshop/integration">Details</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wiring</b><br>
            be sure the thermoter and fan are wired to the Arduino as shown in the wiring diagram
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b><br>
            the integrated fan control using the provided software (or write your own)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b><br>
            disconnect the relay and be sure the fan runs continously
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan trigger temperature
        </label>
      </div>

      <br>

      <h4>Reflection <small>on Study &amp; Problem Solving skills</small></h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Helpful</b><br>
            * Were most helpful to successes?<br>
            * In what other areas could I use these skills?
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Hard</b><br>
            * Can I try or use more to struggle less?<br>
            * In what other areas could I practice these skills?
        </label>
      </div>

    </form>

  </div>
</div>
