<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <br>
    <b id="solving">PROBLEMS SOLVING PATH (Getting Help)</b><br>
    <i>When experiencing difficulties:<br>
    <b class="text-success">* REMEMBER: "not yet ... I'll keep working on it. I'll problem solve!"</b></i><br>
    <i class="text-danger">* AVOID Defeatism: "I can't"</i>
    <br>
    <ul>
      <li>Move your Post-it to the <b>PROBLEM SOLVING PATH</b>
        <i>(add a piece of paper to the task for your problem solving notes)</i></li>
      <li>Can you break this problem into smaller problems
        </i>(can any of those be solved)</i></li>
      <li>Can you identify what is causing the problem
        <i>(what can you research to solve that problem?)</i></li>
      <li>Compare your work to the teaching materials
        <i>(do you see meaningful differences?)</i></li>
      <li>Research new ideas to solve the problem
        <i>(google is your friend)</i></li>
      <li>Ask partner to review your work and help</li>
      <li>Ask another team to review your work and help</li>
      <li>Have the teacher review your problem solving notes and ask for problem
        solving coaching</li>
    </ul>

  </div>
</div>
