<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <h4>Personal Study Skills</h4>
    <b>Successes</b>
    <ul>
      <li>What study skills were most helpful to successes?</li>
      <li>In what other areas could I use these skills?</li>
    </ul>
    <b>Difficulties</b>
    <ul>
      <li>Can I try or use more to struggle less?</li>
      <li>In what other areas could I practice these skills?</li>
    </ul>

    <br>

    <h4>FASTER</h4>
    <ul>
      <li><b>Finished:</b></li>
      <li><b>Acknowledge:</b> those who helped you</li>
      <li><b>Still-To-Do:</b> what more could I do to improve it?</li>
      <li><b>Trouble:</b> what were the hard parts and what can you do yourself to make it more workable?</li>
      <li><b>Enlightend:</b> what did you learn?</li>
      <li><b>Requests:</b>
    </ul>
  </div>
</div>
