<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <h4>Study Skills Reflection</h4>
    <b>Successes</b>
    <ul>
      <li>What study skills were most helpful to successes?</li>
      <li>In what other areas could I use these skills?</li>
    </ul>
    <b>Difficulties</b>
    <ul>
      <li>Can I try or use more to struggle less?</li>
      <li>In what other areas could I practice these skills?</li>
    </ul>

    <br>
    
    <h4>Alternatively: <small>use:</small></h4>
    <h5>FASTER Reflection</h5>
    <ul>
      <li><b>Finished:</b><br>
        List areas you completed <i>(your successes!)</i></li>
      <br>
      <li><b>Acknowledge:</b><br>
        those who helped you <i>(and how they helped)</i></li>
      <br>
      <li><b>Still-To-Do:</b><br>
        What could improve your project?</li>
      <br>
      <li><b>Trouble:</b><br>
        What were the hard parts of doing this?<br>
        <i>(what can make it more workable?)</i></li>
      <br>
      <li><b>Enlightend:</b><br>
        List what you learned</li>
      <br>
      <li><b>Requests:</b><br>
        What could others do to make this better?<br>
        <i>Have you told them?</i>
    </ul>
  </div>
</div>
