<div class="panel panel-success">

  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>

  <div class="panel-body">

    <p class="text-danger"><b>ALWAYS DELETE ALL CODE IN THE ARDUINO SOFTWARE -- including {} -- BEFORE COPYING IN NEW CODE</b></p>
    <br>
    <ol>
      <li><b>CONFIGURE:</b> your software environment</li>
        <ul>
          <li>Download the Arduino software from <a href="https://www.arduino.cc/en/Main/Software">Arduino.cc</a></li>
          <li>Plug the Arduino into your computer</li>
          <li>Start the Arduino software
          <li>Be sure it is set to compile for Arduino Uno (Tools -> Board (uno...))</li>
          <li>Start and be sure it can communicate with the arduino (Tools -> Port (usb...))</li>
        </ul>
      <li><b>TEST:</b> <b>test_blink</b> software (link to github) to the arduino and be sure the Arduino's built-in LED blinks</li>
        <ul>
          <li>verify the LED on for 2 seconds and off 1 second</li>
          <li>verify using the serial communication you can see the print out of when the Arduino thinks the LED is ON and OFF</li>
        </ul>
      <li><b>ADJUST:</b></li>
        <ul>
          <li>change the code -- make the LED ON time to 4 seconds and the OFF time to 2 seconds</li>
          <li>change the serial communication speed to 56700 in your software, upload your updated software and observe the Arduino print statements</li>
        </ul>
      <li><b>VERIFY KNOWLEDGE:</b> basic Arduino software concepts</li>
        <ul>
          <li>what does the delay command do?</li>
          <li>what does the delay command use milli-seconds?</li>
          <li>what does the symbol "=" do?</li>
          <li>what code reads a pin?</li>
          <li>what code outputs to a pin?</li>
          <li>what does setup() do?</li>
          <li>what does loop() do?</li>
          <li>why is it useful to assign pin numbers to variable?</li>
          <li>what is serial communication?</li>
          <li>what does print do?</li>
          <li>what does println do?</li>
          <li>how can you view Arduino print statements?</li>
          <li>how can print statements help you understand and debug Arduino code?</li>
        </ul>
    </ol>

  </div>
</div>
