<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <form>
      <h4>Biology Learning Task
        <small><a href="/workshop/biology">Details and Tips</a></small></h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Plant Needs</b> - list 5-10
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Prioritize</b> top 5 plant needs
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> priority after research
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Compare</b> against the teacher's list<br>
            <i>(discuss and understand any differences -- sorry not today)</i>
        </label>
      </div>

      <br>

      <h4>Software Learning Task
        <small><a href="/workshop/software">Details and Tips</a></small></h4>
      <p class="text-warning">Remove ALL code before copying in new code!</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Configure</b> your arduino software to
          match your Ardunio (an Uno) and set the USB connection port
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test setup</b> copy
          <a href="">test_ardunio</a> into a new arduino file and upload to the
          arduino - is should be ON for 2 seconds and OFF for 1 second
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> your code - to be ON for
          4 seconds and OFF for 2 seconds
        </label>
      </div>

      <br>

      <h4>Thermometer
        <small><a href="/workshop/thermometer">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the thermometer using the
          <a href="">analog sensor cicuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b> the thermometer using
          <a href="">test_thermometer</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Test</b> the thermometer
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the thermometer
        </label>
      </div>

      <br>

      <h4>Fan &amp; Relay
        <small><a href="/workshop/fan_relay">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the fan and relay using this
           using this <a href="">high power circuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b> the fan control using
          <a href="">test_fan</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b> when not connected to
          the Arduino, the fan should run continiously  (why is that the fail
          safe condition?)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan operations
        </label>
      </div>


      <br>

      <h4>Integration
        <small><a href="/workshop/integration">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the circuit as shown in the
          <a href="">integrated circuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b><br> using
          <a href="">test_integration</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b> disconnect the relay
          from the Arduino and be sure the fan runs continously
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan trigger temperature
        </label>
      </div>

      <br>

      <h4>Reflection
        <small>on <a href="/workshop/integration">Study &amp; Problem Solving Skills</a></small></h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Helpful</b><br>
            * What skills were most helpful to successes?<br>
            * In what other areas could I use these skills?
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Hard</b><br>
            * What skills could you do more of to struggle less?<br>
            * In what other areas could I practice these skills?
        </label>
      </div>

    </form>

    <br>
    <p><b>NOTE:</b> we are not asking you to do the knoweldge in depth tasks
      (in the detailed task descriptions) -- sometimes we do those with students,
      but we don't have time in this workshop</p>

  </div>
</div>
