<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <form>
      <h4>Biology Learning Task
        <small><a href="/workshop/biology">Details and Tips</a></small></h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Plant Needs</b> - list 5-10
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Prioritize</b> top 5 plant needs
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> priority after research
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Verify Knowledge</b> and priorities with
          the teacher -- discuss and understand any differences
          <i>(not done in today's workshop)</i>
        </label>
      </div>

      <br>

      <h4>Software Setup &amp; Intro
        <small><a href="/workshop/software">Details and Tips</a></small></h4>
      <p class="text-warning">Remove ALL code before copying in new code!</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Setup</b> your arduino software so that:<br>
          2) <b>Install</b> the Ardunio <a href="https://www.arduino.cc/en/Main/Software">Software</a>
          2) <b>Configure</b> Arduino type <i>Tools -> Board</i> -- choose <b>Arduino/Genuino Uno</b>
             - in this case)</i> -- this configures the compiler to prepare your
             code properly for your particular type of Ardunio<br>
          3) <b>Tools -> Port</b> is set to your Arudino: <i>(<b>/dev/tty.usbmodem1411</b>
            on MacOS and Linux)</i> -- this sets up the serial communication with your Ardunio
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test setup:</b><br>
          1) copy this code
          <a href="https://github.com/ed-gility/workshop_test_setup/blob/master/workshop_test_setup.ino">workshop_test_setup</a>
          into a new Arduino file (<b>File -> New</b>)<br>
          2) verify the code has no errors: (<b>Sketch -> Verify/Compile</b> or click the "check" button)<br>
          - fix any errors found <i>(otherwise the next step doesn't work either)</i><br>
          3) upload this to the Ardunio (<b>Sketch -> Upload</b> to click the "right arrow" button)<br>
          4) the built-in LED should now BLINK -- ON for 2 seconds and OFF for 1 second
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test Serial Communication</b> (<b>Tools ->
            Serial Monitor</b> or click on the "magnifying glass") -- be sure you
            see the following print statements:<br>
            LED ON<br>
            LED OFF
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> your code to do the following
          <i>(see: <a href="https://github.com/ed-gility/workshop_test_setup_explained/blob/master/workshop_test_setup_explained.ino">workshop_test_setup_explained</a>
          for help)</i><br>
          1) be ON for 4 seconds and OFF for 2 seconds<br>
          2) change the serial communication speed to 57600 baud (on the computer
          and in the Ardunio code)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Verify Knowledge</b> be sure you and your
          parnters know and can discuss the questions listed on:
          <a href="/workshop/software">Software Intro Knowledge</a>
          <i>(not done in today's workshop)</i>
        </label>
      </div>

      <br>

      <h4>Thermometer
        <small><a href="/workshop/thermometer">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Build</b> - wire the thermometer using the
          <a href="">analog sensor cicuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Functional Test</b> - the thermometer with the
          following code <a href="">test_thermometer</a> - be sure the
          temperature readings (printed) are sensible
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail/Failsafe Test</b> the thermometer
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the thermometer
        </label>
      </div>

      <br>

      <h4>Fan &amp; Relay
        <small><a href="/workshop/fan_relay">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the fan and relay using this
           using this <a href="">high power circuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b> the fan control using
          <a href="">test_fan</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b> when not connected to
          the Arduino, the fan should run continiously  (why is that the fail
          safe condition?)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan operations
        </label>
      </div>


      <br>

      <h4>Integration
        <small><a href="/workshop/integration">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the circuit as shown in the
          <a href="">integrated circuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b><br> using
          <a href="">test_integration</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b> disconnect the relay
          from the Arduino and be sure the fan runs continously
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan trigger temperature
        </label>
      </div>

      <br>

      <h4>Reflection
        <small>on <a href="/workshop/integration">Study &amp; Problem Solving Skills</a></small></h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Helpful</b><br>
            * What skills were most helpful to successes?<br>
            * In what other areas could I use these skills?
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Hard</b><br>
            * What skills could you do more of to struggle less?<br>
            * In what other areas could I practice these skills?
        </label>
      </div>

    </form>

    <br>
    <p><b>NOTE:</b> we are not asking you to do the knoweldge in depth tasks
      (in the detailed task descriptions) -- sometimes we do those with students,
      but we don't have time in this workshop</p>

  </div>
</div>
