<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <form>
      <h2>PURPOSE <small>- keep a plant alive for 3weeks over spring break</small></h2>
      <h2>DESIGN &amp; PLAN</h2>
      <h4>Plant Biology
        <small><a href="/workshop/design">Details and Tips</a></small></h4>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>EMPATHIZE/REARCH</b> - plants needs in 3 rounds
          (plants in general, plant groups and a specific plant)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>PRIORITZE NEEDS</b> the top 5 plant needs
          for the plant you will be cultivating
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>PROTOTYPE</b> draw a quick sketch of your
          proposed "mini-greenhouse" - include the major parts: structure,
          sensors and actuators
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>SMALLIFY</b> break this project into doable
          major functional parts
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>DEMO</b> present your plan to another group
          and write their ideas in your tech journal
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>ADJUST</b> adjust your plans (drawings,
          priorities and smallify plan)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>CONCEPTUAL MASTERY</b> and priorities with
          the teacher -- discuss and understand any differences
          <i>(not done in today's workshop)</i>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>ACCEPTANCE</b> show the teacher your Demo
          plan, your Adjusted plan and demonstrate your knowedge of the CONCEPTS.
        </label>
      </div>

      <h2>ENGINEERING ITERATIONS</h2>

      <h4>Software Setup &amp; Intro
        <small><a href="/workshop/software">Details and Tips</a></small></h4>
      <p class="text-warning">Remove ALL code before copying in new code!</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>RESEARCH:</b> the hardware/software options
          for sensing robots
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>SETUP/BUILD:</b> install and configure your
          arduino software<br>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>FUNCTIONAL TEST:</b> be sure your setup
          works as expected<br>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>FAIL TEST:</b> -- disconnect the arduino
          from the computer and try to upload the software. Note (write) the
          error message
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>ADJUST:</b> your code to do the following
          described in the details
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>DEMO:</b> Show your adjustments to the
          another person have them verify you have done what is expected (if not
          be sure to adjust again based on the person's comments and suggestions)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>CONCEPTUAL MASTERY:</b> be sure you and your
          parnters know and can discuss the questions listed in the details
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>REVISIT PLAN:</b> given this learning --
          does your original plan need adjustment (priorities, structures,
          drawings, functional parts).  <b>Why or why not?</b>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>ACCEPTANCE:</b> ask for an acceptance demo
          with the teacher (be sure to have already met the requirements before
          asking for an acceptance demo)
        </label>
      </div>

      <br>

      <h4>Thermometer
        <small><a href="/workshop/thermometer">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Build</b> - wire the thermometer using the
          <a href="">analog sensor cicuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Functional Test</b> - the thermometer with the
          following code <a href="https://github.com/ed-gility/workshop_test_thermometer/blob/master/workshop_test_themometer.ino">test_thermometer</a> - be sure the
          temperature readings (printed) are sensible
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail/Failsafe Test</b> the thermometer
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the thermometer
        </label>
      </div>

      <br>

      <h4>Fan &amp; Relay
        <small><a href="/workshop/fan_relay">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the fan and relay using this
           using this <a href="">high power circuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b> the fan control using
          <a href="https://github.com/ed-gility/workshop_test_fan_relay/blob/master/workshop_test_fan_relay.ino">test_fan_relay</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b> when not connected to
          the Arduino, the fan should run continiously  (why is that the fail
          safe condition?)
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan operations
        </label>
      </div>


      <br>

      <h4>Integration
        <small><a href="/workshop/integration">Details and Tips</a></small></h4>
      <p class="text-danger">ALWAYS UNPLUG the Arduino while WIRING</p>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Wire</b> the circuit as shown in the
          <a href="">integrated circuit diagram</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Test w/code</b><br> using
          <a href="https://github.com/ed-gility/workshop_integrated_thermometer_n_fan/blob/master/workshop_integrated_thermometer_n_fan.ino">test_integration</a>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Fail Safe Test</b> disconnect the relay
          from the Arduino and be sure the fan runs continously
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Adjust</b> the fan trigger temperature
        </label>
      </div>

      <br>

      <h2>Reflection
        <small>on <a href="/workshop/integration">Study &amp; Problem Solving Skills</a></small></h2>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Helpful</b><br>
            * What skills were most helpful to successes?<br>
            * In what other areas could I use these skills?
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> <b>Hard</b><br>
            * What skills could you do more of to struggle less?<br>
            * In what other areas could I practice these skills?
        </label>
      </div>

    </form>

    <br>
    <p><b>NOTE:</b> we are not asking you to do the knoweldge in depth tasks
      (in the detailed task descriptions) -- sometimes we do those with students,
      but we don't have time in this workshop</p>

  </div>
</div>
