<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <b>CLASS WORKFLOW</b>
    <ol>
      <li>Take the Pre-Test -- found here</li>
      <li>UNDERSTAND the PROBLEM SOLVING PATH</li>
      <li>Write and Reivew tasks and put on the KANBAN</li>
      <li>PULL the interesting tasks (and move them along the KANBAN as you progress)</li>
      <li>Before you leave take the post-test -- found here.</li>
      <li>Before you leave please give us suggestions and ideas regarding this workshop</li>
    </ol>

    <br>
    <p><b>PROBLEMS SOLVING / GETTING HELP PATH</b></p>
    <i>When experiencing difficulties:<br>
    <b class="text-success">* REMEMBER "not yet"</b></i><br>
    <i class="text-warning">* AVOID - "I can't"</i>
    <br>
    <ul>
      <li>Move your Post-it to the <b>PROBLEM SOLVING PATH</b></li>
      <li>Compare your work to the teaching materials</li>
      <li>Compare your work to Google results</li>
      <li>Ask partner to review your work and help</li>
      <li>Ask another team if they understand a topic and if so have them review your work and help</li>
      <li>Ask explain to the teacher what you understand, what you have tried and what you have found and ask for additional guidance</li>
    </ul>

    <br>
    <b>USING THE KANBAN</b>
    <ul>
      <li>Put the post-its in the <b>TO-DO</b> column</li>
      <li>As you do start each task - put it in the <b>DOING</b> column</li>
      <li>If you get stuck put your post-it on the <b>PROBLEM SOLVING PATH</b> and follow the escalation process</li>
      <li>When the task is done -- both functionally and academically -- put the post-it in the <b>READY</b> column</li>
      <li>When the <b>teacher</b> has been able to assess your READINESS the task can go in the <b>DONE</b> or back to the <b>DOING</b> column -- depending on the results of the teacher's review</li>
    </ul>

  </div>
</div>
