<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <b id="kanban">USING KANBAN</b><br>
    Provides progress visibility, process reminder, sense of success and independence.
    <p>
    <ul>
      <li>Create tasks on post-its</li>
      <li>Put the post-its in the <b>TO-DO</b> column</li>
      <li>Pull tasks start each task - put it in the <b>DOING</b> column</li>
      <li>If you get stuck put your post-it on the <b>PROBLEM SOLVING PATH</b> and follow the escalation process</li>
      <li>When the task is done -- both functionally and academically -- put the post-it in the <b>READY</b> column</li>
      <li>When the <b>teacher</b> has been able to assess your READINESS the task can go in the <b>DONE</b> or back to the <b>DOING</b> column -- depending on the results of the teacher's review</li>
    </ul>

    <br>
    <b id="solving">PROBLEMS SOLVING PATH (Getting Help)</b><br>
    <i>When experiencing difficulties:<br>
    <b class="text-success">* REMEMBER: "not yet ... I'll keep working on it. I'll problem solve!"</b></i><br>
    <i class="text-danger">* AVOID Defeatism: "I can't"</i>
    <br>
    <ul>
      <li>Move your Post-it to the <b>PROBLEM SOLVING PATH</b></li>
      <li>Compare your work to the teaching materials</li>
      <li>Compare your work to Google results</li>
      <li>Ask partner to review your work and help</li>
      <li>Ask another team if they understand a topic and if so have them review your work and help</li>
      <li>Ask explain to the teacher what you understand, what you have tried and what you have found and ask for additional guidance</li>
    </ul>

    <br>
    <b id="workflow">CLASS WORKFLOW</b>
    <ol>
      <li>Take the Pre-Test -- found here</li>
      <li>Write and Reivew tasks and put on the KANBAN</li>
      <li>Briefly discuss the tasks and understand team-mate interests and preferences -- decide how you will work as a team (individually or pair work)</li>
      <li>PULL the interesting tasks (and move them along the KANBAN as you progress) -- <i>follow the PROBLEM SOLVING PATH as you encounter difficulties</i></li>
      <li>Before you leave take the post-test -- found here.</li>
      <li>Before you leave please give us suggestions and ideas regarding this workshop</li>
    </ol>


  </div>
</div>
