<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %></h3>
  </div>
  <div class="panel-body">

    <h4>WORKFLOW</h4>
    <ol>
      <li>Take the Pre-Test -- found here</li>
      <li>Write and Reivew tasks and put on the KANBAN</li>
      <li>Briefly discuss the tasks and understand team-mate interests and preferences -- decide how you will work as a team (individually or pair work)</li>
      <li>PULL the interesting tasks (and move them along the KANBAN as you progress) -- <i>follow the PROBLEM SOLVING PATH as you encounter difficulties</i></li>
      <li>Before you leave take the post-test -- found here.</li>
      <li>Before you leave please give us suggestions and ideas regarding this workshop</li>
    </ol>

  </div>
</div>
